<nav onselectstart="return false">
    <ul>
        <li *ngIf='toolData.toolAdd.isShow' [className]='toolData.toolAdd.liClass'>
            <span *ngIf="!toolData.toolAdd.confirmAdd" [innerHTML]='toolData.toolAdd.toolAddContent'></span>
            <span *ngIf="toolData.toolAdd.confirmAdd" [innerHTML]='toolData.toolAdd.toolAddContent' (click)="toolAdd.emit($event)"></span>
        </li>
        <li *ngIf='toolData.toolEdit.isShow' [className]='toolData.toolEdit.liClass'>
            <span *ngIf="!toolData.toolEdit.confirmEdit" [innerHTML]='toolData.toolEdit.toolEditContent'></span>
            <span *ngIf="toolData.toolEdit.confirmEdit" [innerHTML]='toolData.toolEdit.toolEditContent' (click)="toolEdit.emit($event)"></span>
        </li>
        <li *ngIf='toolData.toolDelete.isShow' [className]='toolData.toolDelete.liClass'>
            <span *ngIf="!toolData.toolDelete.confirmDelete" [innerHTML]='toolData.toolDelete.toolDeleteContent'></span>
            <span *ngIf="toolData.toolDelete.confirmDelete" [innerHTML]='toolData.toolDelete.toolDeleteContent' (click)="toolDelete.emit($event)"></span>
        </li>
        <li lang="exportExcel" *ngIf='toolData.exportExcel.isShow' [className]='toolData.exportExcel.liClass'>
            <a [innerHTML]='toolData.exportExcel.exportExcelContent' (click)='exportExcelFn.emit($event)' target="_black"></a>
        </li> 
        <li lang="common" *ngIf='toolData.summary.isShow'>
            <span (click)="summaryTgc(summary)">汇总<em class="topIcon" #summary></em></span>
            <ul class="summaryUl" *ngIf="summarytgc">
                <li *ngIf='toolData.summary.toolSubtotal.isShow' [className]='toolData.summary.toolSubtotal.liClass'>
                    <label>
                        <span><input type="checkbox" (change)="toolSubtotal.emit($event)" [(ngModel)]='trToolSubtotalIsShow'></span>
                        <span [innerHTML]='toolData.summary.toolSubtotal.toolSubtotalContent'></span>
                    </label>
                </li>
                <li *ngIf='toolData.summary.toolTotal.isShow' [className]='toolData.summary.toolTotal.liClass'>
                    <label>
                        <span><input type="checkbox" (change)="toolTotal.emit($event)" [(ngModel)]="trToolTotalIsShow"></span>
                        <span [innerHTML]="toolData.summary.toolTotal.toolTotalContent"></span>
                    </label>
                </li>
            </ul>
        </li>
        <li lang="common" *ngIf='toolData.columnSetting.isShow'>
            <span (click)="setStyleTgc(setStyle)">自定义设置<em class="topIcon" #setStyle></em></span>
            <ul class="summaryUl" *ngIf="setStyletgc">
                <li *ngIf='toolData.columnSetting.setTrHieht.isShow'>
                    <input type="text" placeholder='{{toolData.columnSetting.setTrHieht.default}}' (keyup)='setTrHeiht($event)'>
                    <span [innerHTML]="toolData.columnSetting.setTrHieht.setTrHiehtContent"></span>
                </li>
                <li *ngIf='toolData.columnSetting.setTrMove.isShow'>
                    <label>
                        <span><input type="checkbox" (change)='onIsDrop($event)' [(ngModel)]="toIsDrop"></span>
                        <span [innerHTML]="toolData.columnSetting.setTrMove.setTrMoveContent"></span>
                    </label>
                </li>
                <li *ngIf='toolData.columnSetting.details.isShow'>
                    <label>
                        <span><input type="checkbox" (change)='lookDetails($event)' [(ngModel)]="isAllowToInsert"></span>
                        <span [innerHTML]="toolData.columnSetting.details.detailsContent"></span>
                    </label>
                </li>
            </ul>
        </li>
    </ul>
</nav>