nav{   
    height: 40px;
    border: 1px solid #e9ebec;
    margin-bottom: 5px;
    ul{
        margin: 0;
        padding: 0;
        li{
            height: 38px;
            line-height: 38px;
            list-style: none;
            float: left;
            border-right: 1px solid #e9ebec;
            padding: 0 10px;
            cursor: pointer;
            label{
                cursor: pointer;
                span {
                    float: left;
                    text-align:center;
                }
                span:first-child{
                    width: 20%;
                    input{
                        position: relative;
                        top: 2px;
                    }
                }
                span:last-child {
                    width: 80%;
                    button{
                        border: 0;
                        border-radius: 3px;
                        height: 30px;
                        line-height: 27px;
                        outline: none;
                    }
                }
            }
        }
        li:lang(common) {
            position: relative;
            em {
                display: inline-block;
                position: relative;
                width: 0;
                height: 0;
                right: -4px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }
            .topIcon {
                top: 0;
                border-bottom: 10px solid #000;
            }
            .bomIcon {
                top: 1px;
                border-top: 10px solid #000;
            }
            ul {
                position: absolute;
                left: -1px;
                top: 39px;
                width: 100%;
                background: #fff;
                z-index: 10;
                li {
                    box-sizing: content-box;
                    width: 100%;
                    border: 1px solid #e9ebec;
                    border-top: 0;
                    padding: 0 0px;
                    input[type=text] {
                        float: left;
                        margin-top: 4px;
                        margin-left: 5px;
                        width: 30px;
                        height: 30px;
                        outline: none;
                        font-size: 12px;
                        border-radius: 3px;
                        padding-left: 5px;
                        border: 1px solid #e9ebec;
                    }
                    // button {
                    //     height: 30px;
                    //     line-height: 26px;
                    //     width: 80px;
                    //     position: absolute;
                    //     top: calc(50% - 15px);
                    //     left: calc(50% - 40px);
                    // }
                }
            }
        }
        li:lang(exportExcel) {
            float: right;
            border-left: 1px solid #e9ebec;
            border-right: 0;
            a{
                text-decoration: none;
            }
        }
    }
}


// div:first-child