<h3><a id="confirm" class="anchor" href="#confirm" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>汇总示例</h3>
<p>
    前提条件：toolData.isShow 设置为true; （工具栏必须显示）<br/>
    toolData.summary.isShow 设置为true; （汇总必须显示）<br/>
    danjiIsMultion  设置为true （开启单击多选）<br/>
    注：第一列不在计算内且计算全是数字的列。<br/>
    
</p>
<div class="with-source">
    <a class="source" href="https://github.com/wangraoji/ng2-first-table/tree/master/src/app/pages/examples/huizong/huizong-example.component.ts"
        target="_blank">演示源</a>

    <Huizong-example-table></Huizong-example-table>
</div>

<p>配置说明</p>
<pre>
    <code>
        // 开启多选
        danjiIsMultion: true,
        // 自定义工具栏
        toolData: {{ lf }}
            isShow: true, 
            // 汇总
            summary: {{ lf }}
                // 汇总是否显示
                isShow:true,
                toolSubtotal: {{ lf }} 
                    // 小计是否显示
                    isShow: true,
                    liClass: '',
                    toolSubtotalContent: '小计',
                {{ rf }},
                toolTotal: {{ lf }}
                    // 总计是否显示
                    isShow: true,
                    liClass: '',
                    toolTotalContent: '总计',
                {{ rf }},
            {{ rf }},
          
        {{ rf }}
    </code>
</pre> 