<h3><a id="confirm" class="anchor" href="#confirm" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>
    有复选框工具栏示例</h3>
<p>
    有复选框的工具栏，前提条件: selectMode == "multi" ,且 toolData.isShow 设置为 true
</p>
<div class="with-source">
     <a class="source" href="https://github.com/wangraoji/ng2-first-table/tree/master/src/app/pages/examples/tool/tool-example1.component.ts"
        target="_blank">演示源</a> 
    <tool-example1-table></tool-example1-table>
</div>

<h3><a id="confirm" class="anchor" href="#confirm" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>
    无复选框单击单选工具栏示例</h3>
<p>
    无复选框的工具栏，单击单选，前提条件: selectMode == "single" ,且 toolData.isShow 设置为 true
</p>
<div class="with-source">
     <a class="source" href="https://github.com/wangraoji/ng2-first-table/tree/master/src/app/pages/examples/tool/tool-example2.component.ts"
        target="_blank">演示源</a> 
     <tool-example2-table></tool-example2-table>
</div>

<h3><a id="confirm" class="anchor" href="#confirm" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>
    无工具栏单击多选工具栏示例</h3>
<p>
    无复选框的工具栏，单击多选，前提条件: selectMode == "single" ,且 danjiIsMultion / toolData.isShow 设置为 true
</p>
<div class="with-source">
     <a class="source" href="https://github.com/wangraoji/ng2-first-table/tree/master/src/app/pages/examples/tool/tool-example3.component.ts"
        target="_blank">演示源</a> 
     <tool-example3-table></tool-example3-table>
</div>





