<h3><a id="confirm" class="anchor" href="#confirm" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>    工具栏-设置示例
</h3>
<p>
    前提条件：toolData.isShow 设置为true; （工具栏必须显示）<br/> toolData.setStyle.isShow 设置为true; （设置必须显示）<br/> 注：行拖动 / 查看明细 只允许单行操作，如果开启多行，当选中行
    > 1 会自动关闭。
</p>
<div class="with-source">
    <a class="source" href="https://github.com/wangraoji/ng2-first-table/tree/master/src/app/pages/examples/settings/settings-example.component.ts"
        target="_blank">演示源</a>

    <settings-example-table></settings-example-table>
</div>

<p>配置说明</p>
<pre>
    <code>
        // 自定义工具栏
        toolData: {{ lf }}
            isShow: true, 
            // 自定义设置
            columnSetting: {{ lf }}
                // 设置是否显示
                isShow: true,
                // 设置行高
                setTrHieht: {{ lf }}
                    isShow: true,
                    setTrHiehtContent: '设置行高',
                {{ rf }},
                // 设置行拖动
                setTrMove: {{ lf }}
                    isShow: true,
                    setTrMoveContent: '选中行拖动',
                    default: 20,
                {{ rf }},
                // 查看明细
                details: {{ lf }}
                    isShow: true,
                    detailsContent: '查看明细',
                {{ rf }},
            {{ rf }},
          
        {{ rf }}
    </code>
</pre>