.ng2-smart-th {
    position: relative;
    em {
        display: inline-block;
        position: absolute;
        width: 0;
        height: 0;
        right: 5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        cursor: pointer;
    }
    .topIcon {
        bottom: 5px;
        border-bottom: 10px solid #ccc;
    }
    .bomIcon {
        bottom: 5px;
        border-top: 10px solid #ccc;
    }
    .hideColumn {
        display: none;
    }
    .showColumn {
        display: block;
    }
    ul {
        position: absolute;
        background: #fff;
        width: 100%;
        left: 0;
        top: calc(100% - -1px);
        margin: 0;
        padding: 0;
        z-index: 9;
        li {
            height: 38px;
            line-height: 38px;
            list-style: none;
            padding: 0 10px;
            label{
                cursor: pointer;
                span {
                    float: left;
                    text-align:center;
                }
                span:first-child{
                    width: 20%;
                }
                span:last-child {
                    text-align:left;
                    width: 80%;
                    button{
                        border: 0;
                        border-radius: 3px;
                        height: 30px;
                        line-height: 27px;
                        outline: none;
                    }
                    i {
                        font-style: normal;
                    }
                }
            }
            input[type=text] {
                width: 30px;
                height: 26px;
                outline: none;
                font-size: 12px;
                border-radius: 3px;
                padding-left: 5px;
                border: 1px solid #e9ebec;
            }
        }
    }
}

