
html,body{
    font-size: 13px;
}
:host /deep/ .tree-container{
    user-select: none;
    cursor:pointer;
    height: 100%;
    min-width: 200px;
    width: 100% !important;
    font-size: 1em;
    position: relative;
    .tree-row{
        font-size: 1em;
        width: 100%;
        margin-bottom:5px;
        button{
            border-radius: 5px;
            padding:2px 8px;       
            background: #00abff;
            margin: 0;
        } 
        input{
            width:70%;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding:2px 7px;           
        }      
    } 
    // 循环遍历
    ul{
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        li{
            font-size: 1em;
            list-style: none;
            height:1.8rem;
            line-height: 1.78rem;
        }
        .hover:hover{
            color:#00abff;
            // background: #00abff;
            cursor: pointer;
            line-height: 1.75rem;
        }

    }
    
    // 图表
    .fonticon{
        font-size: 1em;
        padding: 0 .35rem;
    }
    //右键弹出
    .contextmenu{
        position: absolute;
        z-index: 100;
        .list{ 
              list-style: none;
              padding: 0px;
              border: 1px solid #ccc;
              border-radius: 5px;
              height: 100%;
              margin: 0px;
              width:100%;
            .list-item{
                color:black !important;
                font-size: 1em;
                border-bottom: 1px solid #ccc;
                background: #ccc;
                border-radius: 5px;
                min-width: 50px;
                padding:0 .5rem;
                &:hover{
                     background: #ccc;
                     color:black;
                }
            }
            .list-item:last-child{
                border-width: 0px;
        }
    } 
} 
}


