<div [class]="newSettings.display.treeClass">
    <!-- 折叠展开组件 -->
    <ng2-tree-foldedExpansion [newSettings]="newSettings" [data]="data" (allFolded)="allFolded.emit($event)" (allExpansion)="allExpansion.emit($event)">
    </ng2-tree-foldedExpansion>
    <!-- 搜索组件 -->
    <ng2-tree-filter [newSettings]="newSettings" [data]="data" (searchEvent)="search($event)"></ng2-tree-filter>
    <!-- <P [ngClass]="{'selected':true}">水电费大幅度</P> [ngClass]="{'selected': a.selected}"-->
    <div #box 
    [style.height.px]="newSettings.display.displayNode*newSettings.display.nodeHeight"
    [style.overflow-y]="newSettings.display.yScroll" 
    [style.overflow-x]="newSettings.display.xScroll"
    (scroll)="scrollFn()">
      <tree-node [treeData]="data" (rightClickFn)="rightClickFn($event,contextmenu)"></tree-node>
    </div>
    <!--右键的弹出框 menuShow:是否右键功能-->
    <div class="contextmenu" [hidden]="!menuShow" #contextmenu [ngStyle]="{'top.px': top,'left.px': left}">
        <ul class="list">
            <li class="list-item" [hidden]="!item.is_show" *ngFor="let item of newSettings.menuDatas" (click)="nodeMenuClickFn(item.title)">{{item.text}}</li>
        </ul>
    </div>
</div>
