html,body{
    font-size: 13px;
}
.tree-container{
    cursor:pointer;
    height: 100%;
    min-width: 200px;
    width: 100% !important;
    // padding: 10px;
    font-size: 1rem;
    // color: blue !important;
    .tree-row{
        font-size: 1rem;
        width: 100%;
        button{
            border-radius: 5px;
            padding:5px;
            margin-bottom:10px;
        } 
        input{
            width:70%;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding:3px 7px;           
        }      
    } 
    // 循环遍历
    ul{
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        li{
            font-size: 1rem;
            list-style: none;
            height:1.8rem;
            line-height: 1.78rem;
        }
        li:hover{
        color:#00abff;
        cursor: pointer;
        line-height: 1.75rem;
       }
       &.selected{
        color: white;
        background: #00abff;
        li:hover{
           color: white; 
        }
       }
    }
    
    // 图表
    .fonticon{
        font-size: 1rem;
        padding: 0 .35rem;
    }
    //右键弹出
    .contextmenu{
        position: absolute;
        z-index: 100;
        .list{ 
              list-style: none;
              padding: 0px;
              border: 1px solid #ccc;
              border-radius: 5px;
              height: 100%;
              margin: 0px;
              width:100%;
            .list-item{
                font-size: .875rem;
                border-bottom: 1px solid #ccc;
                background: white;
                min-width: 50px;
                padding:0 .5rem;
                &:hover{
                     background: #ccc;
                     color:black;
                }
            }
            .list-item:last-child{
                border-width: 0px;
        }
    } 
} 
}
